/*  your css code here. If applicable */
#main_card{
    width: 600px;
    height: 250px;
    background-color: #f5f5f5;
    padding: 20px;
}
.main{
	height: 180px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	
}
.card{
    width: 550px;
    height: 70px;
    background-color: white;
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	position: relative;
}

.author{
    text-align: right;
    font-style: italic;
	position: absolute;
	left: 85%;
	top: 40%;
}