/*  your css code here. If applicable */
#main_card{
    width: 600px;
    height: 200px;
    background-color: lightgrey;
    padding: 20px;
}

.card{
    width: 550px;
    height: 50px;
    background-color: white;
}

.author{
    text-align: right;
    font-style: italic;
}